<form id="autologout_plugin_settings" class="form-horizontal">
    <h4>Logout - Countdown</h4>
    <div class="accordion-inner">
        <div class="control-group">
            <div class="controls">
                <label>Timeout:
                    <div class="input-append">
                        <input type="number" step="any" min="1" class="input-mini text-right"  data-bind="value: pluginSettings.countdownTimeInMinutes" >
                        <span class="add-on">minutes</span>
                    </div>
                </label>
            </div>
        </div>
    </div>
</form>
