<form id="autologout_plugin_settings" class="form-horizontal">

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: pluginSettings.isEnabled" > Activated
            </label>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <label>Timeout:
                <div class="input-append">
                    <input type="number" step="any" min="1" class="input-mini text-right"  data-bind="value: pluginSettings.countdownTimeInMinutes" >
                    <span class="add-on">minutes</span>
                </div>
            </label>
        </div>
    </div>
</form>
